<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Valorant</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <nav class="nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand content" href="/">Valorant</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a class="content" href="teams">Teams</a></li>
                <li><a class="content" href="brackets">Brackets</a></li>
                <li><a class="content" href="standings">Standings</a></li>
                <li><a class="content" href="schedule">Schedule</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <header class="Header home">

        <h3><b>A One-Stop Solution For Competitive Matchmaking</b></h3>

        <div class="valbtn">
            <button class="btn btn--light">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <span class="btn__content">Start Match</span>
                </span>
            </button>
        </div>
    </header>

    <footer>
        <h4>
            &copy; 2024 Aneesh Raskar | <a href="https://www.linkedin.com/in/aneesh-raskar-8ab10b205/"
                class="fa fa-linkedin" target="_blank" rel="noopener noreferrer"></a> | <a
                href="https://github.com/Zephyrus02" class=" fa fa-github" target="_blank"
                rel="noopener noreferrer"></a>
        </h4>
    </footer>
</body>

</html>